* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  background-image: url("https://marketplace.canva.com/EAGOi4Jk6Vc/1/0/1600w/canva-grey-white-orange-video-centric-element-centric-video-background-TJdQfmAntVM.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.main:nth-child(2) {
  flex-direction: row;
}

.main > h1 {
  position: relative;
  right: 10px;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}

.box-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border: 5px solid #0066ff;
  margin-right: 20px;
}

.box h1 {
  position: absolute;
  top: 0;
  margin-top: 20px;
}

.box strong {
  position: absolute;
  bottom: 0;
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
}

.item-img {
  width: 300px;
  height: auto;
}

.win {
  border-color: green;
  color: green;
}

.lose {
  border-color: red;
  color: red;
}

.tie {
  border-color: gray;
  color: gray;
}

.main button {
  position: relative;
  top: 0;
  right: 15px;
  border: none;
  background-color: transparent;
  font-size: 50px;
  color: #000;
}

.main button:hover {
  color: #0066ff;
  transform: scale(1.3);
}

.main button:first-child i {
  transform: rotate(90deg);
}

@media screen and (max-width: 768px) {
  .main > h1 {
    right: auto;
    font-size: 24px;
  }

  /* .box-area {
    flex-direction: column;
  } */

  .box {
    width: 100%;
    height: 250px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .box h1 {
    font-size: 20px;
  }

  .item-img {
    width: 150px;
  }

  .main button {
    right: 5px;
  }
}
